/* Main CSS */

.logo-text{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.header-font{
    font-style: normal;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
}

.header-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 20px;
    background: rgba(29, 29, 29, 0.85);
    z-index: 10;
}
